<div class="col s12 m6">
  <div class="card">
    <div class="card-content">
      <p>
        <span class="card-title"
          ><a
            [href]="user_school.school_url"
            rel="noopener"
            target="_blank"
            class="teal-text hoverline"
            >{{ user_school.school_name }}</a
          ></span
        >
      </p>
      <p class="brown-text">{{ user_school.school_period }}</p>
      <div>
        <i class="fas fa-certificate certified-icon"></i>
        {{ user_school.school_result }}
      </div>
    </div>
  </div>
</div>
