<div class="container">
  <div class="card">
    <div class="card-content">
      <h4
        class="blue-text light"
        style="border-bottom: 1px solid #ddd; margin-bottom: 30px; padding-bottom: 20px;"
      >
        {{ user_skill.title }}
      </h4>
      <div class="row text-center">
        <div
          *ngFor="let skill of user_skill.skills"
          class="col s4 m2"
          style="margin: 10px;"
        >
          <img
            [src]="skill.image"
            alt="HTML5"
            class="responsive-img skill-image"
          />
          {{ skill.name }}
        </div>
      </div>
    </div>
  </div>
</div>
