<div class="toolbar">
  <app-toolbar></app-toolbar>
</div>

<div class="intro">
  <app-intro></app-intro>

  <app-section title="ABOUT">
    <div class="container flow-text section-body">
      <blockquote>
        Mission-driven full stack developer with a passion for thoughtful UI
        design, collaboration, and teaching.
      </blockquote>
      <p>
        Ahmad is <b>`compassionate`</b> about creating websites and
        applications. He is a <b>`quick learner`</b> in the web development
        field. Ahmad <b>`never give up`</b> searching and debugging to create
        useful solutions. He is <b>`committed`</b> to his work. He is
        <b>`self-motivated`</b> who keeps pushing himself to learn new things
        all the time. He is so <b>`friendly`</b>
        and easy to talk to at any time.
      </p>
    </div>
  </app-section>

  <app-section title="EXPERIENCE">
    <app-experience-card
      *ngFor="let user_exp of user_experiences"
      [user_experience]="user_exp"
    ></app-experience-card>
  </app-section>

  <app-section title="PROJECTS">
    <div class="row">
      <app-project-card
        *ngFor="let user_project of user_projects"
        [user_project]="user_project"
      ></app-project-card>
    </div>
  </app-section>

  <app-section title="SKILLS">
    <app-skill-card
      *ngFor="let user_skill of user_skills"
      [user_skill]="user_skill"
    >
    </app-skill-card>
  </app-section>

  <app-section title="EDUCATION">
    <div class="container">
      <div class="row">
        <app-education-card
          *ngFor="let user_school of user_schools"
          [user_school]="user_school"
        ></app-education-card>
      </div>
    </div>
  </app-section>

  <app-section title="CONTACT">
    <app-contact-card
      user_email="mailto:ahmad.mohammad.khoja@gmail.com"
      user_github="http://github.com/ahmadyassinkhoja"
      user_linkedin="http://linkedin.com/in/ahmad-khojah"
    ></app-contact-card>
  </app-section>
</div>
