<div class="toolbar-container">
  <div class="profile-definition">
    <a href="#" class="profile-name"
      >Ahmad Khoja
      <span class="profile-profession">Full Stack Developer</span></a
    >
  </div>

  <ul class="menu">
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-social-person small user-icon cyan-left-border"></i>
        <span>About</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-action-trending-up small user-icon"></i>
        <span>Experience</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-av-web small user-icon"></i>
        <span>Projects</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-av-equalizer small user-icon"></i>
        <span>Skills</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-social-school small user-icon"></i>
        <span>Education</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-content-mail small user-icon"></i>
        <span>Contact</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-item--link">
        <i class="mdi-action-description small user-icon"></i>
        <span>Resume</span>
      </a>
    </li>
  </ul>
</div>
